@charset "utf-8";
@font-face {
  font-family: 'wly';
  src: url('font/iconfont.eot');
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), url('font/iconfont.woff') format('woff'), url('font/iconfont.ttf') format('truetype'), url('font/iconfont.svg#wly') format('svg');
}
.wly {
  font-family: "wly" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #ffffff url("../images/bg.png") repeat;
  min-width: 1200px;
}
.site-nav {
  height: 32px;
  background: #ffffff;
}
.site-nav .nav-menu {
  width: 300px;
  height: 32px;
  float: right;
}
.site-nav .nav-menu a {
  float: right;
  padding: 0px 12px;
  display: inline-block;
  line-height: 32px;
  color: #555555;
}
.header {
  width: 100%;
  height: 187px;
  background: url("../images/topbg.jpg") no-repeat center top;
}
.header .site-logo {
  width: 502px;
  height: 74px;
  padding-top: 70px;
  display: inline-block;
}
.header .site-logo h1 {
  display: inline-block;
}
.header .site-logo h1 img {
  max-height: 74px;
}
.site-menu {
  width: 100%;
  height: 46px;
  background: #0067ac;
}
.site-menu .menulist {
  height: 46px;
  display: inline-block;
}
.site-menu .menulist .one {
  position: relative;
  display: inline-block;
  height: 46px;
  line-height: 46px;
}
.site-menu .menulist .one .text {
  font-size: 16px;
  color: #ffffff;
  padding: 0px 20px;
  display: inline-block;
  height: 46px;
  line-height: 46px;
  transition: .5s;
}
.site-menu .menulist .one:hover {
  background: #0094de;
  display: inline-block;
  height: 46px;
  line-height: 46px;
}
.site-menu .menulist .one:hover .dropMenu {
  display: block;
  z-index: 44;
}
.site-menu .menulist .dropMenu {
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  display: none;
}
.site-menu .menulist .dropMenu li {
  display: block;
  height: 40px;
  line-height: 40px;
}
.site-menu .menulist .dropMenu a {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  padding: 0px 20px;
  display: block;
  height: 40px;
  line-height: 40px;
  background: #0094de;
}
.site-menu .menulist .dropMenu a:hover {
  background: #0067ac;
}
/*轮播图，政务要闻*/
.index-column1 {
  width: 100%;
  padding: 20px 0;
}
.index-column1 .slideshow {
  width: 700px;
  height: 466px;
  display: block;
  float: left;
  background: #3C3C3C;
}
.index-column1 .columnnew {
  width: 480px;
  height: 466px;
  display: block;
  float: right;
  background: #ffffff;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}
.index-column1 .columnnew .tabBar {
  height: 42px;
  border-top: 1px solid #efefef;
}
.index-column1 .columnnew .tabBar li {
  width: 25%;
  height: 42px;
  display: block;
  float: left;
}
.index-column1 .columnnew .tabBar li a {
  width: 100%;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 16px;
  color: #666666;
  display: block;
  background: #f5f5f5;
}
.index-column1 .columnnew .tabBar li .cur {
  color: #ffffff;
  background: #f30000;
}
.index-column1 .columnnew .tabContent {
  padding: 10px 15px;
  display: block;
  overflow: hidden;
}
.index-column1 .columnnew .tabContent .box {
  width: 100%;
  height: 394px;
  position: relative;
  float: left;
}
.index-column1 .columnnew .tabContent .item {
  padding-top: 5px;
  border-bottom: 1px dashed #cdcdcd;
  padding-bottom: 5px;
}
.index-column1 .columnnew .tabContent .item .title {
  color: #555555;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  display: block;
  height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.index-column1 .columnnew .tabContent .item .title:hover {
  color: #0094de;
}
.index-column1 .columnnew .tabContent .item .time {
  font-size: 12px;
  line-height: 24px;
  height: 24px;
  color: #999999;
}
.index-column1 .columnnew .tabContent .item .infos {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}
.index-column1 .columnnew .tabContent .item .infos .info {
  color: #626262;
  width: 380px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  float: left;
}
.index-column1 .columnnew .tabContent .item .infos .more {
  color: #f30000;
  width: 70px;
  text-align: right;
  float: right;
}
.index-column1 .columnnew .tabContent .item .infos .more:hover {
  color: #a80000;
}
.index-column1 .columnnew .tabContent .moreBtn {
  width: 100%;
  height: 40px;
  background: #e2f2fb;
  display: block;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #0094de;
  position: absolute;
  bottom: 0;
  transition: .4s;
}
.index-column1 .columnnew .tabContent .moreBtn:hover {
  background: #c8e2f1;
}
.index-column2 {
  width: 100%;
  height: 690px;
  background: url("../images/bg1.jpg") no-repeat center bottom;
}
.index-column2 .tab-box {
  width: 100%;
  float: left;
  display: block;
}
.index-column2 .column-box {
  float: left;
  width: 100%;
  padding-top: 20px;
  height: 340px;
}
.index-column2 .column-box .player {
  float: left;
  width: 510px;
  height: 320px;
  background: #000;
}
.index-column2 .column-box .article {
  float: right;
  width: 670px;
}
.index-column2 .column-box .article p {
  font-size: 15px;
  line-height: 25px;
  text-indent: 32px;
  padding-bottom: 4px;
}
.index-column2 .column-box .article .more {
  color: #f30000;
}
.index-column2 .column-box .article .more:hover {
  color: #a80000;
}
.index-column2 .column-box .articlew {
  width: 100%;
  float: right;
}
.index-column2 .column-box .articlew p {
  font-size: 15px;
  line-height: 25px;
  text-indent: 32px;
  padding-bottom: 4px;
}
.index-column2 .column-box .articlew .more {
  color: #f30000;
}
.index-column2 .column-box .articlew .more:hover {
  color: #a80000;
}
.index-column2 .column-list {
  width: 100%;
  float: left;
  display: block;
  padding-top: 40px;
}
.index-column2 .column-list li {
  width: 14.28%;
  float: left;
  text-align: center;
}
.index-column2 .column-list li a {
  width: 120px;
  height: 120px;
  display: block;
  text-align: center;
  line-height: 120px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border: 2px solid #0094de;
  border-radius: 60px;
  transition: .2s;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}
.index-column2 .column-list li a .wly {
  font-size: 42px;
  color: #0094de;
}
.index-column2 .column-list li p {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  height: 32px;
  padding-top: 10px;
  color: #0094de;
}
.index-column2 .column-list li.cur a {
  background: #fed3d3;
  border-color: #f30000;
}
.index-column2 .column-list li.cur a .wly {
  color: #ffffff;
}
.index-column2 .column-list li.cur p {
  color: #f30000;
}
.index-column-tile {
  width: 345px;
  height: 90px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.index-column-tile .left-line {
  width: 90px;
  position: absolute;
  top: 50px;
  height: 1px;
  left: 0;
  background: #c3c3c3;
}
.index-column-tile .right-line {
  width: 90px;
  position: absolute;
  top: 50px;
  height: 1px;
  right: 0;
  background: #c3c3c3;
}
.index-column-tile .title {
  width: 165px;
  text-align: center;
  position: absolute;
  top: 30px;
  height: 1px;
  left: 90px;
  font-size: 26px;
  font-weight: normal;
  color: #555555;
}
.index-column3 {
  width: 100%;
  height: 590px;
  padding-top: 30px;
}
.index-column3 .new-column {
  width: 386px;
  float: left;
  height: 570px;
  margin-right: 20px;
}
.index-column3 .new-column .column-title {
  height: 42px;
  width: 100%;
  display: block;
  background: url("../images/bg4.png") no-repeat left bottom;
  font-size: 20px;
  font-weight: normal;
  padding-left: 15px;
  color: #ffffff;
  line-height: 42px;
}
.index-column3 .new-column .column-box {
  width: 100%;
  height: 514px;
  background: #ffffff;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}
.index-column3 .new-column .column-box .column-tabf {
  height: 42px;
  border-top: 2px solid #0067ac;
}
.index-column3 .new-column .column-box .column-tabf li {
  width: 50%;
  height: 42px;
  display: block;
  float: left;
}
.index-column3 .new-column .column-box .column-tabf li a {
  width: 100%;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 16px;
  color: #666666;
  display: block;
  background: #f5f5f5;
}
.index-column3 .new-column .column-box .column-tabf li .cur {
  color: #ffffff;
  background: #f30000;
}
.index-column3 .new-column .column-box .column-tabf4 li {
  width: 25%;
}
.index-column3 .new-column .column-box .column-con {
  padding: 15px;
  height: 440px;
}
.index-column3 .new-column .column-box .column-con .box {
  width: 100%;
  display: block;
  position: relative;
  height: 440px;
}
.index-column3 .new-column .column-box .column-con li {
  width: 100%;
  padding-top: 5px;
  border-bottom: 1px dashed #cdcdcd;
  padding-bottom: 5px;
}
.index-column3 .new-column .column-box .column-con li .title {
  color: #666666;
  font-size: 16px;
  line-height: 28px;
  display: block;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.index-column3 .new-column .column-box .column-con li .title:hover {
  color: #0094de;
}
.index-column3 .new-column .column-box .column-con li .time {
  font-size: 12px;
  line-height: 24px;
  height: 24px;
  color: #999999;
  text-align: right;
}
.index-column3 .new-column .column-box .column-con .moreBtn {
  width: 100%;
  height: 40px;
  background: #e2f2fb;
  display: block;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #0094de;
  position: absolute;
  bottom: 0;
  transition: .4s;
}
.index-column3 .new-column .column-box .column-con .moreBtn:hover {
  background: #c8e2f1;
}
.index-column3 .new-column:last-child {
  margin-right: 0;
}
.ad-cross {
  width: 100%;
  height: 120px;
  text-align: center;
}
.ad-cross img {
  max-height: 120px;
}
.index-column4 {
  height: 370px;
  width: 100%;
  padding: 20px 0;
}
.index-column4 .flash {
  height: 260px;
  padding: 10px;
  background: #fff;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}
.index-column4 .flash .con {
  width: 100%;
  height: 260px;
}
.index-column4 .flash .con .wrap {
  width: 46px;
  height: 260px;
  overflow: hidden;
  float: left;
  position: relative;
}
.index-column4 .flash .con .wrap.current {
  width: 990px;
}
.index-column4 .flash .con .wrap h3 {
  width: 16px;
  height: 230px;
  color: #fff;
  font-size: 16px;
  padding: 15px;
  float: left;
  position: relative;
  z-index: 22;
}
.index-column4 .flash .con .wrap h3:hover {
  cursor: pointer;
  text-shadow: 0px 1px 1px #cdcdcd;
}
.index-column4 .flash .con .wrap.ti1 h3 {
  background: #00d4f5;
}
.index-column4 .flash .con .wrap.ti2 h3 {
  background: #bab6f1;
}
.index-column4 .flash .con .wrap.ti3 h3 {
  background: #a5cac0;
}
.index-column4 .flash .con .wrap.ti4 h3 {
  background: #bfeb92;
}
.index-column4 .flash .con .wrap.ti5 h3 {
  background: #dde5e8;
}
.index-column4 .flash .con .wrap .show {
  width: 940px;
  height: 260px;
  display: block;
  float: right;
  overflow: hidden;
}
.index-column4 .flash .con .wrap .show .new-list {
  width: 100%;
  float: left;
}
.index-column4 .flash .con .wrap .show .new-list li {
  width: 920px;
  float: left;
  padding-top: 5px;
  border-bottom: 1px dashed #cdcdcd;
  padding-bottom: 5px;
  height: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.index-column4 .flash .con .wrap .show .new-list li .title {
  color: #666666;
  font-size: 16px;
  line-height: 28px;
  display: block;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 810px;
  float: left;
  height: 32px;
}
.index-column4 .flash .con .wrap .show .new-list li .title:hover {
  color: #0094de;
}
.index-column4 .flash .con .wrap .show .new-list li .time {
  font-size: 12px;
  line-height: 24px;
  height: 24px;
  color: #999999;
  width: 100px;
  float: right;
  text-align: right;
}
.index-column4 .flash .con .wrap .moreBtn {
  width: 920px;
  height: 40px;
  background: #e2f2fb;
  display: block;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #0094de;
  position: absolute;
  bottom: 5px;
  right: 15px;
  transition: .4s;
  z-index: 1;
}
.index-column4 .flash .con .wrap .moreBtn:hover {
  background: #c8e2f1;
}
.index-column5 {
  height: 250px;
  padding: 0px 0px 20px;
}
.index-column5 .serverlist {
  width: 100%;
  height: 160px;
  float: left;
  margin-top: 20px;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}
.index-column5 .serverlist li {
  width: 14.2857%;
  height: 160px;
  display: block;
  float: left;
}
.index-column5 .serverlist li a {
  width: 100%;
  text-align: center;
  height: 120px;
  padding-top: 40px;
  display: block;
  background: #0094de;
}
.index-column5 .serverlist li a span {
  width: 100%;
  display: block;
  font-size: 18px;
  color: #ffffff;
  padding-top: 14px;
}
.index-column5 .serverlist li a i {
  font-size: 38px;
  color: #ffffff;
  transition: 0.2s;
}
.index-column5 .serverlist li a:hover {
  background: #0067ac;
}
.index-column5 .serverlist li a:hover i {
  font-size: 42px;
  transform: scale(1.1);
}
.index-column6 {
  height: 340px;
  padding: 20px 0;
  display: block;
}
.index-column6 .index-column-tile {
  padding-bottom: 20px;
}
.footer {
  height: 315px;
}
.footer .footer-menu {
  height: 46px;
  background: #0067ac;
  line-height: 46px;
  text-align: center;
}
.footer .footer-menu a {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
}
.footer .footer-menu a:hover {
  color: #efefef;
}
.footer .footer-menu .line {
  height: 16px;
  font-size: 14px;
  color: #ffffff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
}
.footer .footer-con {
  width: 100%;
  padding-top: 30px;
  height: 235px;
  display: block;
  background: url("../images/bg3.jpg") no-repeat center top;
}
.footer .footer-con .flink-title {
  font-size: 16px;
  font-weight: normal;
  color: #0094de;
}
.footer .footer-con .flink-list {
  padding: 5px 0;
  margin-top: 12px;
}
.footer .footer-con .flink-list a {
  font-size: 14px;
  padding-right: 20px;
  display: inline-block;
  color: #666666;
}
.footer .footer-con .flink-list a:hover {
  color: #0094de;
}
.footer .footer-con .flink-select {
  padding: 5px 0;
  margin-top: 20px;
  margin-bottom: 30px;
}
.footer .footer-con .flink-select span {
  font-size: 14px;
  font-weight: normal;
  color: #0094de;
}
.footer .footer-con .flink-select select {
  padding: 3px 4px;
  font-size: 14px;
  color: #666666;
  display: inline-block;
  margin-right: 20px;
}
.footer .footer-con .copy-text {
  line-height: 28px;
  font-size: 14px;
  color: #999999;
  text-align: center;
}
#elevator_item {
  width: 60px;
  height: 150px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  opacity: 1;
  z-index: 999;
}
#elevator_item.off {
  opacity: 0;
  visibility: hidden;
}
#elevator_item #elevator {
  display: block;
  width: 60px;
  height: 50px;
  background-color: #0094de;
  border-radius: 2px;
  box-shadow: 0 1px 3px #0094de;
  cursor: pointer;
  margin-bottom: 1px;
  text-align: center;
  line-height: 50px;
}
#elevator_item #elevator .wly {
  font-size: 32px;
  color: #fff;
}
#elevator_item #elevator:hover {
  background-color: #0067ac;
}
#elevator_item #elevator:active {
  background-color: #0067ac;
}
#elevator_item .qr,
#elevator_item .mail {
  display: block;
  width: 60px;
  height: 50px;
  border-radius: 2px;
  box-shadow: 0 1px 3px #0094de;
  cursor: pointer;
  background-color: #0094de;
  text-align: center;
  line-height: 50px;
  margin-bottom: 1px;
}
#elevator_item .qr .wly,
#elevator_item .mail .wly {
  font-size: 32px;
  color: #fff;
}
#elevator_item .qr:hover,
#elevator_item .mail:hover {
  background-color: #0067ac;
}
#elevator_item .qr:active,
#elevator_item .mail:active {
  background-color: #0067ac;
}
#elevator_item .qr-popup {
  width: 170px;
  height: 200px;
  background: #fff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: -180px;
  bottom: 0;
  border-radius: 2px;
  display: none;
  text-align: center;
}
#elevator_item .qr-popup .code-link {
  display: block;
  margin: 10px;
  color: #777777;
}
#elevator_item .qr-popup .code {
  display: block;
  margin-bottom: 10px;
}
#elevator_item .qr-popup .arr {
  width: 6px;
  height: 11px;
  position: absolute;
  right: -6px;
  bottom: 14px;
}
.page-banner {
  height: 200px;
  width: 100%;
  display: block;
  background-position: center top;
}
.page-content {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}
.page-nav {
  hight: 40px;
  line-height: 40px;
}
.page-nav a {
  font-size: 14px;
  display: inline-block;
  color: #626262;
  padding-left: 5px;
}
.page-nav a:hover {
  color: #0094de;
}
.page-nav .wly {
  color: #999999;
  position: relative;
  top: 2px;
}
.side-menu {
  width: 240px;
  float: left;
  background: #fff;
  border: 1px solid #efefef;
}
.side-menu dt {
  height: 46px;
  width: 100%;
  background: url("../images/side-menu.jpg") no-repeat;
  text-indent: 20px;
}
.side-menu dt span {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  line-height: 46px;
}
.side-menu dt .wly {
  font-size: 20px;
  color: #fff;
  padding-right: 10px;
  font-weight: normal;
}
.side-menu dd {
  height: 46px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #cdcdcd;
}
.side-menu dd a {
  height: 46px;
  width: 100%;
  display: block;
  text-align: left;
  text-indent: 40px;
  line-height: 46px;
  font-size: 14px;
  color: #555555;
  transition: .3s;
  position: relative;
}
.side-menu dd a .wly {
  display: none;
}
.side-menu dd a.cur {
  color: #0094de;
  border-left: 5px solid #0094de;
  font-weight: bold;
}
.side-menu dd a.cur .wly {
  position: absolute;
  right: 20px;
  display: block;
  top: 2px;
}
.side-menu :last-child {
  border-bottom: 0;
}
.page-con {
  width: 940px;
  float: Right;
  background: #fff;
  border: 1px solid #efefef;
}
.page-con h3 {
  height: 46px;
  width: 100%;
  background: url("../images/column-bg.jpg") repeat center;
  border-bottom: 1px solid #efefef;
  text-indent: 20px;
}
.page-con h3 .wly {
  font-size: 16px;
  color: #626262;
  font-weight: bold;
}
.page-con h3 span {
  font-size: 16px;
  color: #626262;
  font-weight: normal;
  line-height: 46px;
}
.page-con .article-list {
  margin: 15px 20px;
  line-height: 28px;
}
.page-con .article-list li {
  font-size: 14px;
  line-height: 28px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #efefef;
}
.page-con .article-list li a {
  color: #5a5959;
  transition: .2s;
}
.page-con .article-list li a .wly {
  font-size: 12px;
  padding-right: 8px;
}
.page-con .article-list li a .dot {
  font-weight: bold;
  padding-right: 8px;
  font-size: 28px;
}
.page-con .article-list li a:hover {
  color: #0094de;
  position: relative;
  left: 1px;
}
.page-con .article-list li cite {
  color: #c1bdbd;
  font-size: 12px;
  padding-left: 8px;
  font-style: normal;
}
.page-wrap {
  display: block;
  text-align: center;
  margin: 10px 20px;
}
.page-wrap .prev-article {
  width: 48%;
  font-size: 14px;
  color: #666666;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  padding-bottom: 20px;
}
.page-wrap .prev-article:hover {
  color: #0094de;
  position: relative;
  left: 1px;
}
.page-wrap .next-article {
  width: 48%;
  font-size: 14px;
  color: #666666;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  padding-bottom: 20px;
}
.page-wrap .next-article:hover {
  color: #0094de;
  position: relative;
  left: 1px;
}
.page-wrap .pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
}
.page-wrap .pagination > li {
  display: inline;
}
.page-wrap .pagination > li > a,
.page-wrap .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.page-wrap .pagination > li:first-child > a,
.page-wrap .pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.page-wrap .pagination > li:last-child > a,
.page-wrap .pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.page-wrap .pagination > li > a:hover,
.page-wrap .pagination > li > span:hover,
.page-wrap .pagination > li > a:focus,
.page-wrap .pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #ddd;
}
.page-wrap .pagination > .active > a,
.page-wrap .pagination > .active > span,
.page-wrap .pagination > .active > a:hover,
.page-wrap .pagination > .active > span:hover,
.page-wrap .pagination > .active > a:focus,
.page-wrap .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.page-wrap .pagination > .disabled > span,
.page-wrap .pagination > .disabled > span:hover,
.page-wrap .pagination > .disabled > span:focus,
.page-wrap .pagination > .disabled > a,
.page-wrap .pagination > .disabled > a:hover,
.page-wrap .pagination > .disabled > a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
.page-wrap .pagination-lg > li > a,
.page-wrap .pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.page-wrap .pagination-lg > li:first-child > a,
.page-wrap .pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.page-wrap .pagination-lg > li:last-child > a,
.page-wrap .pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.page-wrap .pagination-sm > li > a,
.page-wrap .pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.page-wrap .pagination-sm > li:first-child > a,
.page-wrap .pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.page-wrap .pagination-sm > li:last-child > a,
.page-wrap .pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.page-article {
  margin: 15px 20px;
}
.page-article .title {
  color: #555555;
  font-size: 26px;
  padding-top: 3px;
  padding-bottom: 5px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
}
.page-article .article-copyright {
  font-size: 14px;
  color: #999999;
  line-height: 32px;
  border-bottom: 1px dashed #c8e2f1;
  text-align: center;
}
.page-article .article-wrap {
  margin: 20px 0;
}
.page-article .article-wrap p {
  padding-bottom: 20px;
}
.picShow {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.picShow #picSlideWrap {
  background: #fff;
  border: 1px solid #efefef;
  padding-bottom: 30px;
}
.picShow .imgnav {
  position: relative;
  margin: 30px auto 10px;
  width: 788px;
}
.picShow #content {
  margin: 0px auto;
  line-height: 19px;
}
.picShow #content p {
  text-indent: 2em;
  color: #333;
}
.picShow #img {
  z-index: 10;
  width: 788px;
  position: relative;
  text-align: center;
}
.picShow #img img {
  height: 570px;
  display: none;
  border: 4px solid #000;
}
.picShow #front {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  cursor: pointer;
  width: 394px;
  height: 578px;
  background: url(../images/blank.gif);
}
.picShow #front a {
  position: absolute;
  left: 20px;
  top: 224px;
  display: block;
  background: url(../images/imgSlideLeft.png) no-repeat;
  width: 60px;
  height: 60px;
  display: none;
}
.picShow #next {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
  cursor: pointer;
  width: 394px;
  height: 578px;
  background: url(../images/blank.gif);
}
.picShow #next a {
  position: absolute;
  right: 20px;
  top: 224px;
  display: block;
  background: url(../images/imgSlideRight.png) no-repeat;
  width: 60px;
  height: 60px;
  display: none;
}
.picShow #cbtn {
  background: #EAEBF0;
  position: relative;
  height: 122px;
  border: 1px solid #D6D9DC;
  margin-top: 12px;
}
.picShow #cbtn ul {
  position: relative;
  width: 10000px;
  height: 122px;
}
.picShow #cbtn ul li {
  float: left;
  padding: 8px 3px 3px 3px;
  width: 116px;
  height: 86px;
  cursor: pointer;
  text-align: center;
  margin-right: 20px;
  position: relative;
}
.picShow #cbtn ul li img {
  width: 116px;
  height: 86px;
  display: block;
}
.picShow #cbtn ul li tt {
  background: #000;
  color: #FFF;
  position: absolute;
  right: 4px;
  bottom: 4px;
  z-index: 20;
  font-family: "宋体";
  font-size: 12px;
  line-height: 16px;
  padding: 0 5px;
}
.picShow #cbtn li.hov {
  background: url(../images/imgHoverBg.gif) no-repeat;
}
.picShow .ctrl div {
  clear: both;
}
.picShow #cSlideUl {
  width: 690px;
  height: 116px;
  overflow: hidden;
  position: relative;
  top: 10px;
  margin: 0 auto;
}
.picShow .picSildeLeft {
  cursor: pointer;
  position: absolute;
  top: 32px;
  left: 10px;
  z-index: 9;
}
.picShow .picSildeRight {
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 10px;
  z-index: 9;
}
