@charset "utf-8";
@import "setting.less";
body{
  background: @bodyColor url("../images/bg.png") repeat;
}
.site-nav{
  height:32px;
  background: @siteNavBgColor;
  .weather{}
  .nav-menu{
    width: 300px;
    height:@siteWenuH;
    float:right;
    a{
      float:right;
      padding:0px 12px;
      display: inline-block;
      line-height:@siteWenuH;
      color: @fcolor01;
    }
  }
}
.header{
  width: 100%;
  height:187px;
  background: url("../images/topbg.jpg")no-repeat center top;
  .site-logo{
    width: 502px;
    height:74px;
    padding-top:70px;
    display: inline-block;
    h1{
      display: inline-block;
      img{max-height: 74px;}
    }
  }
}
.site-menu{
  width: 100%;
  height:@menuListH;
  background: @themeColor;
  .menulist{
    height:@menuListH;
    display: inline-block;
    .one{
      position: relative;
      display: inline-block;
      height:@menuListH;
      line-height:@menuListH;
      .text{
        font-size: 16px;
        color: @fcolor02;
        padding:0px 20px;
        display: inline-block;
        height:@menuListH;
        line-height:@menuListH;
        transition:.5s;
      }
      &:hover{
        background: @themeCurColor;
        display: inline-block;
        height:@menuListH;
        line-height:@menuListH;
        .dropMenu{
          display: block;
          z-index: 44;
        }
      }
    }
    .dropMenu{
      position: absolute;
      top:@menuListH;
      left:0;
      width: 100%;
      display: none;
      li{
        display: block;
        height:@menuListmH;
        line-height:@menuListmH;
      }
      a{
        text-align: center;
        font-size: 15px;
        color: @fcolor02;
        padding:0px 20px;
        display: block;
        height:@menuListmH;
        line-height:@menuListmH;
        background: @themeCurColor;
        &:hover{
          background: @themeColor;
        }
      }
    }
  }
}
/*轮播图，政务要闻*/
.index-column1{
  width: 100%;
  padding:20px 0;
  .slideshow{
    width: 700px;
    height:466px;
    display: block;
    float:left;
    background:#3C3C3C;
  }
  .columnnew{
    width: 480px;
    height:466px;
    display: block;
    float:right;
    background:@divColor1;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    .tabBar{
      height:42px;
      border-top:1px solid @borderColor2;
      li{
        width: 25%;
        height:42px;
        display: block;
        float:left;
        a{
          width: 100%;
          height:42px;
          line-height:42px;
          text-align: center;
          font-size: 16px;
          color:@fcolor04;
          display: block;
          background: @divColor2;
        }
        .cur{
          color:@fcolor02 ;
          background: @themeCurColor2;
        }
      }
    }
    .tabContent{
      padding:10px 15px;
      display: block;
      overflow: hidden;
      .box{
        width: 100%;
        height:394px;
        position: relative;
        float:left;
      }
      .item{
        padding-top: 5px;
        border-bottom: 1px dashed @borderColor1;
        padding-bottom: 5px;
        .title{
          color: @fcolor06;
          font-size: 16px;
          font-weight: bold;
          line-height:28px;
          display: block;
          height:28px;
          text-overflow:ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .time{
          font-size: 12px;
          line-height:24px;
          height:24px;
          color: @fcolor07;
        }
        .infos{
          font-size: 14px;
          line-height:24px;
          height:24px;
          .info{
            color:@fcolor09;
            width: 380px;
            text-overflow:ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            float:left;
          }
          .more{
            color:@fcolor08;
            width: 70px;
            text-align: right;
            float:right;
          }
        }
      }
      .moreBtn{
        width: 100%;
        height:40px;
        background: @divColor3;
        display: block;
        line-height:40px;
        text-align: center;
        font-size: 14px;
        color:@themeCurColor;
        position: absolute;
        bottom: 0;
        transition:.4s;
        &:hover{
          background:@divColor4;
        }
      }
    }
  }
}
.index-column2{
  width: 100%;
  height:690px;
  background:url("../images/bg1.jpg") no-repeat center bottom;
  .column-box{
    float:left;
    width: 100%;
    padding-top:20px;

    .player{float:left;width: 510px;height:320px;background:#000;}
    .article{
      float:right;width: 670px;
      p{font-size: 15px;line-height:25px;text-indent: 32px;         padding-bottom: 4px;}
    }
  }
  .column-list{
    width: 100%;
    float:left;
    display: block;
    padding-top:40px;
    li{width: 14.28%;float:left;text-align:center;
      a{
        width:120px;
        height:120px;
        display: block;
        text-align:center;
        line-height:120px;
        margin-left:auto;
        margin-right:auto;
        background:@divColor1;
        border:2px solid @themeCurColor;
        border-radius: 60px;
        transition: .2s;
        -moz-box-shadow: 0 0 5px #ccc;
        -webkit-box-shadow: 0 0 5px #ccc;
        box-shadow: 0 0 5px #ccc;
        .wly{
          font-size: 42px;
          color:@themeCurColor;
        }
      }
      p{
        text-align:center;
        font-size: 18px;
        line-height:32px;
        height:32px;
        padding-top:10px;
        color: @themeCurColor;
      }
      &:hover{
        a{
          background:@themeCurColor3 ;
          border-color: @themeCurColor2;
          .wly{
            color: @fcolor02;
          }
        }
        p{
          color: @themeCurColor2;
        }
      }
    }

  }
}
.index-column-tile{
  width: 345px;
  height:90px;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  .left-line{
    width: 90px;
    position: absolute;
    top:50px;
    height:1px;
    left:0;
    background:@divColor5;
  }
  .right-line{
    width: 90px;
    position: absolute;
    top:50px;
    height:1px;
    right:0;
    background:@divColor5;
  }
  .title{
    width: 165px;
    text-align: center;
    position: absolute;
    top:30px;
    height:1px;
    left:90px;
    font-size: 26px;
    font-weight: normal;
    color: @fcolor01;
  }
}
.index-column3{
  width: 100%;
  height:590px;
  padding-top:30px;
  .new-column{
    width: 386px;
    float:left;
    height:570px;
    margin-right:20px;
    .column-title{
      height:42px;
      width: 100%;
      display: block;
      background:url("../images/bg4.png") no-repeat left bottom;
      font-size:20px;
      font-weight: normal;
      padding-left:15px;
      color: @fcolor02;
      line-height:42px;
    }
    .column-box{
      width: 100%;
      height:514px;
      background: @divColor1;
      -moz-box-shadow: 0 0 5px #ccc;
      -webkit-box-shadow: 0 0 5px #ccc;
      box-shadow: 0 0 5px #ccc;
      .column-tabf{
        height:42px;
        border-top:2px solid @themeColor;
        li{
          width: 50%;
          height:42px;
          display: block;
          float:left;
          a{
            width: 100%;
            height:42px;
            line-height:42px;
            text-align: center;
            font-size: 16px;
            color:@fcolor04;
            display: block;
            background: @divColor2;
          }
          .cur{
            color:@fcolor02;
          background:@themeCurColor2;
          }
        }
      }
      .column-tabf4{
        li{width: 25%;}
      }
      .column-con{
        padding:15px;
        height:440px;
       .box{
         width: 100%;
         display: block;
         position: relative;
         height:440px;
       }
        li{
          width:100%;
          padding-top: 5px;
          border-bottom: 1px dashed @borderColor1;
          padding-bottom: 5px;
          .title{
              color: @fcolor04;
              font-size: 16px;
              line-height:28px;
              display: block;
              height:30px;
              text-overflow:ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          .time{
            font-size: 12px;
            line-height:24px;
            height:24px;
            color:@fcolor07;
            text-align: right;
          }

        }
        .moreBtn{
          width: 100%;
          height:40px;
          background: @divColor3;
          display: block;
          line-height:40px;
          text-align: center;
          font-size: 14px;
          color:@themeCurColor;
          position: absolute;
          bottom: 0;
          transition:.4s;
          &:hover{
            background:@divColor4;
          }
        }
      }

    }

  }
  .new-column:last-child{
    margin-right:0;
  }
}
.ad-cross{
  width: 100%;
  height:120px;
  text-align: center;
  img{
    max-height:120px;
  }
}
.index-column4{
  height:370px;
  width: 100%;
  padding:20px 0;
  .flash{height:260px; padding:10px; background:#fff;-moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
  .con{ width:100%; height:260px;
   .wrap{ width:46px; height:260px; position:relative; overflow:hidden; float:left;position: relative;
    &.current{ width:990px;}
     h3{ width:16px; height:230px; color:#fff; font-size:16px; padding:15px;float: left;position: relative;z-index: 22;
     &:hover{cursor: pointer;text-shadow: 0px 1px 1px #cdcdcd;}
     }
     &.ti1 h3{ background:#00d4f5;}
     &.ti2 h3{ background:#bab6f1;}
     &.ti3 h3{ background:#a5cac0;}
     &.ti4 h3{ background:#bfeb92;}
     &.ti5 h3{ background:#dde5e8;}
     .show{
       width: 940px;
       height:260px;
       display: block;
       float: right;
       overflow: hidden;
       .new-list{
         width:100%;
         float:left;
         li{width: 450px;float:left;
           padding-top: 5px;
           border-bottom: 1px dashed @borderColor1;
           padding-bottom: 5px;
           height:55px;
           margin-left:8px;
           margin-right:8px;
          .title{
            color: #666666;
            font-size: 16px;
            line-height: 28px;
            display: block;
            height: 30px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
           .time{
             font-size: 12px;
             line-height: 24px;
             height: 24px;
             color: #999999;
             text-align: right;
           }
         }
       }
     }
     .moreBtn{
       width: 450px;
       height:40px;
       background: @divColor3;
       display: block;
       line-height:40px;
       text-align: center;
       font-size: 14px;
       color:@themeCurColor;
       position: absolute;
       bottom: 5px;
       right:15px;
       transition:.4s;
       z-index: 1;
       &:hover{
         background:@divColor4;
       }
     }

    }
  }
}
}

.index-column5{
  height:250px;
  padding:0px 0px 20px;
    .serverlist{
      width: 100%;
      height:160px;
      float:left;
      margin-top:20px;
      -moz-box-shadow: 0 0 5px #ccc;
      -webkit-box-shadow: 0 0 5px #ccc;
      box-shadow: 0 0 5px #ccc;
      li{
        width: 14.2857%;
        height:160px;
        display: block;
        float:left;
        a{
          width: 100%;
          text-align: center;
          height:120px;
          padding-top:40px;
          display: block;
          background:@themeCurColor;
          span{width: 100%;display: block;font-size:18px;
            color: @fcolor02;
            padding-top:14px;
          }
          i{
            font-size: 38px;
            color: @fcolor02;
            transition: 0.2s;
          }
          &:hover{
            background:@themeColor;
            i{
              font-size: 42px;
              transform: scale(1.1);
            }
          }
        }
      }
    }
}
.index-column6{
  height:340px;
  padding:20px 0;
  display: block;
  .index-column-tile{
    padding-bottom:20px;
  }
}
.footer{
  height:315px;
  .footer-menu{
    height:46px;
    background: @themeColor;
    line-height:46px;
    text-align: center;
    a{
      display: inline-block;
      font-size: 14px;
      color: @fcolor02;
    }
    .line{
      height:16px;
      font-size: 14px;
      color: @fcolor02;
      display: inline-block;
      padding-left:8px;
      padding-right:8px;
    }
  }
  .footer-con{
    width: 100%;
    padding-top:30px;
    height:235px;display: block;
    background: url("../images/bg3.jpg") no-repeat center top;
    .flink-title{
      font-size: 16px;
      font-weight: normal;
      color:@fcolor06;
    }
    .flink-list{
      padding:5px 0;
      margin-top:12px;
      a{font-size: 14px;padding-right:20px;display: inline-block;color: @fcolor04;}
    }
    .flink-select{
      padding:5px 0;
      margin-top:20px;
      margin-bottom: 30px;
      span{font-size: 14px;
        font-weight: normal;
        color:@fcolor06;}
      select{
        padding:3px 4px;
        font-size: 14px;
        color:@fcolor04;
        display: inline-block;
        margin-right:20px;
      }
    }
    .copy-text{line-height:28px;font-size:14px;
      color:@fcolor07;text-align: center;}
  }
}

#elevator_item {
  width: 60px;
  height: 150px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  opacity: 1;
  z-index: 999;
}
#elevator_item.off {
  opacity: 0;
  visibility: hidden
}
#elevator {
  display: block;
  width: 60px;
  height: 50px;
  background-color: #444;
  background-color: rgba(0,0,0,.6);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  cursor: pointer;
  margin-bottom: 1px;
  text-align: center;
  line-height:50px;
  .wly{
    font-size: 32px;
    color: #fff;
  }
}
#elevator:hover {
  background-color: rgba(0,0,0,.7)
}
#elevator:active {
  background-color: rgba(0,0,0,.75)
}
#elevator_item {
  .qr,.mail{
    display: block;
    width: 60px;
    height: 50px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    cursor: pointer;
    background-color: #444;
    background-color: rgba(0,0,0,.6);
    text-align: center;
    line-height:50px;
    margin-bottom: 1px;
    .wly{
      font-size: 32px;
      color: #fff;
    }
  }

}
#elevator_item .qr:hover {
  background-color: rgba(0,0,0,.7)
}
#elevator_item .qr:active {
  background-color: rgba(0,0,0,.75)
}
#elevator_item .qr-popup {
  width: 170px;
  height: 200px;
  background: #fff;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  position: absolute;
  left: -180px;
  bottom: 0;
  border-radius: 2px;
  display: none;
  text-align: center
}
#elevator_item .qr-popup .code-link {
  display: block;
  margin: 10px;
  color: #777
}
#elevator_item .qr-popup .code {
  display: block;
  margin-bottom: 10px
}
#elevator_item .qr-popup .arr {
  width: 6px;
  height: 11px;
  position: absolute;
  right: -6px;
  bottom: 14px
}



