@charset "utf-8";
//模块高度
@siteWenuH:32px;
@menuListH:46px;
@menuListmH:40px;
//定义div color变量
@bodyColor:#ffffff;
@siteNavBgColor:#ffffff;
@divColor1:#fff;
@divColor2:#f5f5f5;
@divColor3:#e2f2fb;
@divColor4:#c8e2f1;
@themeColor:#0067ac;
@themeCurColor:#0094de;
@themeCurColor2:#f30000;
//定义font color变量
@fcolor01:#555555;
@fcolor02:#ffffff;
@fcolor04:#666666;
@fcolor06:#0094de;
@fcolor07:#999999;
@fcolor08:#f30000;
@fcolor09:#626262;
@borderColor1:#cdcdcd;
@borderColor2:#efefef;